<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionAgroSmart"
     providerName="Oracle.ManagedDataAccess.Client"
     connectionString="User Id=APP_USER;Password=app123;
                       Data Source=localhost:1521/XEPDB1;
                       Pooling=true; Statement Cache Size=50;" />
	</connectionStrings>
</configuration>
